# Node dependencies
node_modules/

# HonKit build output
_book/

# Optional: logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: OS files
.DS_Store
Thumbs.db

# Optional: IDE/editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
